
<div class="container">
  <div class="info">
  <% if @news_hub.news_feeds.any? %>
    <h1><%= @news_hub.name%> (<%= @news_hub.news_feeds.count %>)</h1>
  </div>
 
  <!-- Normal Demo-->
  
      <%= render @news_feed %>
   
<%= will_paginate @news_feed %>
<% end %>
</div>
