<li id="micropost-<%= news_feed.id %>">
  <span class="user"><%= link_to news_feed.title, news_feed.url %></span>
  <span class="content"><%= raw news_feed.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(news_feed.published_on) %> ago.
  </span>
</li>